In [1]:
import pandas as pd
df = pd.read_csv("train.csv")

In [2]:
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

1. Show first 7 observations in dataset.

In [3]:
df.head(7)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
5,train_5,0,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
6,train_6,0,11.8091,-0.0832,9.3494,4.2916,11.1355,-8.0198,6.1961,12.0771,...,8.7830,6.4521,3.5325,0.1777,18.3314,0.5845,9.1104,9.1143,10.8869,-3.2097

2. Check if there are any missing values.

In [6]:
df.isnull().any().sum()

0

3. Find mean of each variable according to target.

In [7]:
df["target"].mean()

0.10049

4. Count number of values for each target.

In [10]:
df.groupby("target").count()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
target,,,,,,,,,,,,,,,,,,,,,
0,179902,179902,179902,179902,179902,179902,179902,179902,179902,179902,...,179902,179902,179902,179902,179902,179902,179902,179902,179902,179902
1,20098,20098,20098,20098,20098,20098,20098,20098,20098,20098,...,20098,20098,20098,20098,20098,20098,20098,20098,20098,20098

5. Remove ID_code column.

In [12]:
df.drop(["ID_code", "target"], axis=1, inplace=True)

6. Get statistical summary for each variable.
a. Give interpretation for std, min, max, mean.
b. Show mean of var_0 by using indexing.

In [16]:
df.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,7.567236,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,1.235070,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,3.970500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,6.618800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,7.629600,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,8.584425,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,11.150600,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [6]:
df1 = df.agg(["min", "max", "std", "mean"])
df1.transpose()

             min      max        std       mean
target    0.0000   1.0000   0.300653   0.100490
var_0     0.4084  20.3150   3.040051  10.679914
var_1   -15.0434  10.3768   4.050044  -1.627622
var_2     2.1171  19.3530   2.640894  10.715192
var_3    -0.0402  13.1883   2.043319   6.796529
...          ...      ...        ...        ...
var_195  -5.2610   4.2729   1.429372  -0.142088
var_196 -14.2096  18.3215   5.454369   2.303335
var_197   5.9606  12.0004   0.921625   8.908158
var_198   6.2993  26.0791   3.010945  15.870720
var_199 -38.8528  28.5007  10.438015  -3.326537

[201 rows x 4 columns]

B)

In [15]:
df["var_0"].mean()

10.679914251999998

7. Filter var_0 variable from minimum to mean.

In [17]:
df[df["var_0"] < df.var_0.mean()]["var_0"].max()

10.6799

8. Filter var_6 greater than 5 and var_196 less than 2.

In [26]:
df[(df["var_6"]>5) & (df["var_196"]<2)]

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
11,12.7188,-7.9750,10.3757,9.0101,12.8570,-12.0852,5.6464,11.8370,1.2953,6.8093,...,-0.8901,2.6559,-0.0503,5.5946,13.6152,2.4058,-1.7183,9.6745,16.7498,-3.9728
14,13.8080,5.0514,17.2611,8.5120,12.8517,-9.1622,5.7327,21.0517,-4.5117,6.8116,...,1.0740,8.3220,3.2619,1.6738,17.4797,-0.0257,-3.5323,9.3439,24.4479,-5.1110
16,5.0615,0.2689,15.1325,3.6587,13.5276,-6.5477,5.2757,9.8710,2.5569,9.4701,...,0.2717,7.2854,0.5670,8.1822,19.5616,0.4365,-3.4975,8.6367,20.2548,11.1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199990,14.1475,1.8568,11.0066,3.6779,12.1944,-16.5936,5.3217,14.8508,3.3377,6.1650,...,-6.4708,4.7287,1.9034,7.2324,20.6047,1.7170,-4.0032,9.1627,13.8077,-1.9646
199991,9.9909,2.5523,11.9653,6.3958,13.5497,-9.5293,6.0864,14.1789,-2.1245,9.8862,...,12.0737,5.2139,0.8094,-0.6585,17.0548,0.5328,-5.3444,8.5414,13.2895,-6.7896
199994,12.3925,-5.8821,11.2323,3.9237,10.4509,10.7262,7.0503,18.6968,-0.4976,6.0916,...,1.3911,6.8687,3.7788,6.3378,14.4656,-1.4843,-3.9299,9.1164,16.3170,-7.5048
199996,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,6.0019,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199999,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,9.3688,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385

In [30]:
df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

9. Show observations between 20000 and 30000 for 11th column.

In [36]:
df.iloc[20000:30000, 10]

20000     4.8219
20001     4.1234
20002     1.5339
20003     5.2597
20004    10.2969
          ...
29995     6.1307
29996     8.3554
29997    -1.3356
29998    -0.0461
29999    -1.9111
Name: var_10, Length: 10000, dtype: float64

10. Create features list including variables from var_0 to var_9.
a. Find correlations in features.
b. Sort most correlated variables in features.
c. Show top 10 most correlated variables in features.

In [38]:
features = list(df.columns[1:10])
features

['var_1',
 'var_2',
 'var_3',
 'var_4',
 'var_5',
 'var_6',
 'var_7',
 'var_8',
 'var_9']

In [40]:
df[features].corr()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9
var_1,1.000000,0.003980,0.000010,0.000303,-0.000902,0.003258,0.001511,0.004098,-0.000832
var_2,0.003980,1.000000,0.001001,0.000723,0.001569,0.000883,-0.000991,0.002648,-0.001932
var_3,0.000010,0.001001,1.000000,-0.000322,0.003253,-0.000774,0.002500,0.003553,-0.000826
var_4,0.000303,0.000723,-0.000322,1.000000,-0.001368,0.000049,0.004549,0.001194,-0.000918
var_5,-0.000902,0.001569,0.003253,-0.001368,1.000000,0.002588,-0.000995,0.000147,-0.005279
var_6,0.003258,0.000883,-0.000774,0.000049,0.002588,1.000000,-0.002548,-0.001188,-0.005697
var_7,0.001511,-0.000991,0.002500,0.004549,-0.000995,-0.002548,1.000000,0.000814,0.002885
var_8,0.004098,0.002648,0.003553,0.001194,0.000147,-0.001188,0.000814,1.000000,-0.001073
var_9,-0.000832,-0.001932,-0.000826,-0.000918,-0.005279,-0.005697,0.002885,-0.001073,1.000000

In [41]:
df[features].corr().abs()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9
var_1,1.000000,0.003980,0.000010,0.000303,0.000902,0.003258,0.001511,0.004098,0.000832
var_2,0.003980,1.000000,0.001001,0.000723,0.001569,0.000883,0.000991,0.002648,0.001932
var_3,0.000010,0.001001,1.000000,0.000322,0.003253,0.000774,0.002500,0.003553,0.000826
var_4,0.000303,0.000723,0.000322,1.000000,0.001368,0.000049,0.004549,0.001194,0.000918
var_5,0.000902,0.001569,0.003253,0.001368,1.000000,0.002588,0.000995,0.000147,0.005279
var_6,0.003258,0.000883,0.000774,0.000049,0.002588,1.000000,0.002548,0.001188,0.005697
var_7,0.001511,0.000991,0.002500,0.004549,0.000995,0.002548,1.000000,0.000814,0.002885
var_8,0.004098,0.002648,0.003553,0.001194,0.000147,0.001188,0.000814,1.000000,0.001073
var_9,0.000832,0.001932,0.000826,0.000918,0.005279,0.005697,0.002885,0.001073,1.000000

In [43]:
corr = df[features].corr().abs().unstack()
corr

var_1  var_1    1.000000
       var_2    0.003980
       var_3    0.000010
       var_4    0.000303
       var_5    0.000902
                  ...
var_9  var_5    0.005279
       var_6    0.005697
       var_7    0.002885
       var_8    0.001073
       var_9    1.000000
Length: 81, dtype: float64

In [45]:
corr.sort_values(ascending=False)

var_1  var_1    1.000000
var_2  var_2    1.000000
var_8  var_8    1.000000
var_7  var_7    1.000000
var_6  var_6    1.000000
                  ...
var_8  var_5    0.000147
var_4  var_6    0.000049
var_6  var_4    0.000049
var_1  var_3    0.000010
var_3  var_1    0.000010
Length: 81, dtype: float64

In [53]:
top_corr = corr.sort_values(ascending=False).unstack()
top_corr[:10]

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9
var_1,1.000000,0.003980,0.000010,0.000303,0.000902,0.003258,0.001511,0.004098,0.000832
var_2,0.003980,1.000000,0.001001,0.000723,0.001569,0.000883,0.000991,0.002648,0.001932
var_3,0.000010,0.001001,1.000000,0.000322,0.003253,0.000774,0.002500,0.003553,0.000826
var_4,0.000303,0.000723,0.000322,1.000000,0.001368,0.000049,0.004549,0.001194,0.000918
var_5,0.000902,0.001569,0.003253,0.001368,1.000000,0.002588,0.000995,0.000147,0.005279
var_6,0.003258,0.000883,0.000774,0.000049,0.002588,1.000000,0.002548,0.001188,0.005697
var_7,0.001511,0.000991,0.002500,0.004549,0.000995,0.002548,1.000000,0.000814,0.002885
var_8,0.004098,0.002648,0.003553,0.001194,0.000147,0.001188,0.000814,1.000000,0.001073
var_9,0.000832,0.001932,0.000826,0.000918,0.005279,0.005697,0.002885,0.001073,1.000000

11. Remove outliers from dataset.

In [5]:
q25 = df.quantile(0.25)
q75 = df.quantile(0.75)
iqr = q75 - q25
iqr

var_0       4.304350
var_1       6.098650
var_2       3.794225
var_3       3.070025
var_4       2.377950
             ...
var_195     2.000300
var_196     8.503650
var_197     1.340500
var_198     4.235025
var_199    16.045275
Length: 200, dtype: float64

In [13]:
#show not outliers
df[((df > q25 - 1.5 * iqr) & (df < q75 + 1.5 * iqr)).all(axis=1)]

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
5,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,3.5855,5.9790,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,13.2152,-5.8006,9.7260,6.5910,12.4612,-7.1652,6.0666,12.9887,4.8121,8.6043,...,3.9357,8.8442,1.8096,-4.8314,22.0050,0.3916,6.7302,8.9709,14.5405,6.1149
199994,12.3925,-5.8821,11.2323,3.9237,10.4509,10.7262,7.0503,18.6968,-0.4976,6.0916,...,1.3911,6.8687,3.7788,6.3378,14.4656,-1.4843,-3.9299,9.1164,16.3170,-7.5048
199995,11.4880,-0.4956,8.2622,3.5142,10.3404,11.6081,5.6709,15.1516,-0.6209,5.6669,...,6.1415,13.2305,3.9901,0.9388,18.0249,-1.7939,2.1661,8.5326,16.6660,-17.8661
199997,11.2232,-5.0518,10.5127,5.6456,9.3410,-5.4086,4.5555,21.5571,0.1202,6.1629,...,4.0651,5.4414,3.1032,4.8793,23.5311,-1.5736,1.2832,8.7155,13.8329,4.1995
199999,10.8762,-5.7105,12.1183,8.0328,11.5577,0.3488,5.2839,15.2058,-0.4541,9.3688,...,8.9842,1.6893,0.1276,0.3766,15.2101,-2.4907,-2.2342,8.1857,12.1284,0.1385

In [14]:
#show outliers 
df[((df < q25 - 1.5 * iqr) | (df > q75 + 1.5 * iqr)).any(axis=1)]

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
14,13.8080,5.0514,17.2611,8.5120,12.8517,-9.1622,5.7327,21.0517,-4.5117,6.8116,...,1.0740,8.3220,3.2619,1.6738,17.4797,-0.0257,-3.5323,9.3439,24.4479,-5.1110
19,4.4090,-0.7863,15.1828,8.0631,11.2831,-0.7356,6.3801,16.0218,2.4621,8.2108,...,5.9745,6.3267,2.5156,8.9878,16.0550,-2.1962,8.3985,9.1711,14.7352,3.9133
31,11.8967,2.4613,9.6047,6.5331,12.3928,-16.5167,6.1583,15.8343,-5.2882,7.0369,...,6.8673,14.1812,0.4632,7.6441,18.7412,0.6773,9.1396,8.9020,17.2176,-19.1430
41,9.2474,2.4231,9.0991,7.3115,9.1967,0.0512,5.8244,13.6145,5.7337,8.1224,...,-1.3996,6.8681,1.2737,3.5217,17.1380,0.0401,1.4130,7.6351,17.7996,-15.5445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199984,11.3184,0.3745,4.5578,5.8872,10.3655,0.7182,5.4431,17.4472,-4.7071,8.5519,...,7.2087,6.1096,1.4309,5.4578,17.4881,0.0463,14.1548,10.1784,17.1267,-16.5440
199986,12.0298,-8.7800,7.7071,7.4015,9.2305,-16.2174,5.9064,17.9268,3.6489,7.3970,...,16.7461,3.1249,-0.3943,8.4059,14.3367,3.0991,4.3853,8.8019,15.0031,-0.3659
199987,8.0438,-1.9184,13.1498,9.2027,8.9886,2.7531,4.2194,18.1138,-0.6744,6.4648,...,7.1818,10.8590,3.5770,1.2627,16.9983,-1.5922,-3.5687,8.1765,19.5095,-13.3091
199996,4.9149,-2.4484,16.7052,6.6345,8.3096,-10.5628,5.8802,21.5940,-3.6797,6.0019,...,4.9611,4.6549,0.6998,1.8341,22.2717,1.7337,-2.1651,6.7419,15.9054,0.3388
199998,9.7148,-8.6098,13.6104,5.7930,12.5173,0.5339,6.0479,17.0152,-2.1926,8.7542,...,2.6840,8.6587,2.7337,11.1178,20.4158,-0.0786,6.7980,10.0342,15.5289,-13.9001

from scipy.stats

In [20]:
# find outliers with zscore
from scipy.stats import zscore
df2 = df.apply(zscore).abs()
df2[(df2 < 3).all(axis=1)]

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.577102,1.273737,0.451707,0.833709,0.235571,0.536430,0.334926,0.608751,1.561580,1.473796,...,0.263374,1.149158,0.817469,0.411013,0.168705,1.578117,1.022131,0.373968,1.026398,0.214135
2,0.681113,0.276066,0.516988,0.536516,0.305477,0.511033,1.769839,0.564749,1.561370,1.307408,...,0.072093,0.777997,0.174131,0.412316,1.151591,2.297370,1.617906,0.695141,0.381449,0.356681
3,0.125158,0.129426,0.667575,0.195355,0.927992,0.410672,0.500633,0.474201,1.843910,0.548767,...,0.270216,0.891456,0.818468,0.478548,1.607869,0.789517,0.959020,1.501744,0.697118,0.543502
4,0.277303,0.035610,0.817683,0.077829,0.738607,0.955574,0.613372,0.791544,1.794753,0.090006,...,1.036191,0.688988,1.405987,1.468536,1.501101,0.958473,0.297627,0.645537,0.706318,0.525375
5,0.261965,0.170512,0.716732,0.895541,0.071610,1.097030,1.011705,0.386286,0.990612,1.285952,...,2.092418,0.276492,2.274971,0.724313,0.972387,0.820984,1.086734,0.931880,1.092623,0.137351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.265814,0.279509,0.928851,1.606375,0.454632,2.120424,0.302273,0.407906,0.271576,1.538651,...,0.637526,1.915840,1.394910,0.599439,0.009925,1.155623,0.025161,0.407496,0.264130,1.392947
199996,1.896359,0.202660,2.268180,0.079297,1.705783,0.699136,0.543790,1.476902,1.189411,1.267410,...,0.378661,0.920696,0.830643,0.375167,1.364499,1.312319,0.819242,2.350481,0.011518,0.351154
199997,0.178710,0.845469,0.076676,0.563266,1.070350,0.043657,0.984818,1.466106,0.049199,1.137053,...,0.182166,0.660547,0.795012,0.387655,1.766202,1.001499,0.187031,0.209042,0.676806,0.721024
199998,0.317467,1.723980,1.096301,0.491128,0.886530,0.712074,0.737304,0.137314,0.743186,0.961052,...,0.120713,0.403634,0.545083,1.950397,0.772535,0.044417,0.824051,1.221803,0.113526,1.012989
199999,0.064567,1.008110,0.531302,0.605032,0.295332,0.688535,0.144297,0.392049,0.221526,1.458677,...,1.260937,1.901623,1.217678,0.740270,0.887894,1.643111,0.831910,0.783897,1.242908,0.331964